.add {
    background-color: #7fff7f;
}

.remove {
    background-color: #ff7f7f;
}

td.modify {
    background-color: #7f7fff;
}

td.conflict {
    background-color: #f00;
}

.spec {
    background-color: #aaa;
}

.move {
    background-color: #ffa;
}

.null {
    color: #888;
}

table {
    border-collapse:collapse;
}

td,  th {
    border: 1px solid #2D4068;
    padding: 3px 7px 2px;
}

th,  .header {
    background-color: #aaf;
    font-weight: bold;
    padding-bottom: 4px;
    padding-top: 5px;
    text-align:left;
}

tr.header th {
    border-bottom: 2px solid black;
}

.gap {
    color: #888;
}

td {
    empty-cells: show;
}

tr:first-child td {
    border-top: 1px solid #2D4068;
}

td:first-child {
    border-left: 1px solid #2D4068;
}

tr.index td,  .index,  tr.header th.index,  td.index:first-child,  tr:first-child td.index {
    background-color: white;
    border: none;
}